@model AuctionDetailsViewModel

@if (this.User.IsAdmin())
{
    <div class="row mt-3 me-2 justify-content-center">
        <div class="col-12">
            <form asp-area="Admin" asp-controller="Auction" asp-action="Delete" asp-route-auctionId="@Model.Id" method="post" class="swal-form">
                <input type="submit" value="Изтрий търга" class="btn btn-danger" />
            </form>
        </div>
    </div>
}

@if (Model.IsOver is true || Model.IsDeleted)
{
    @if (Model.Bids.Any())
    {
        @if (this.User.IsAdmin())
        {
            <div class="row mt-3 me-2 justify-content-center">
                <div class="col-12">
                    <form asp-area="" asp-controller="Auction" asp-action="Reactivate" asp-route-auctionId="@Model.Id" method="post" class="swal-form">
                        <input type="submit" value="Активирай търга" class="btn btn-success" />
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row mt-3 me-2 justify-content-center">
            <div class="col-12">
                <form asp-area="" asp-controller="Auction" asp-action="Reactivate" asp-route-auctionId="@Model.Id" method="post" class="swal-form">
                    <input type="submit" value="Активирай търга" class="btn btn-success" />
                </form>
            </div>
        </div>
    }
}

@if ((Model.IsOver.HasValue == false || Model.IsOver is false) && this.User.IsAdmin() && Model.IsDeleted == false)
{
    <div class="row mt-3 me-2 justify-content-center" id="adminDeactivate">
        <div class="col-12">
            <form asp-area="" asp-controller="Auction" asp-action="Deactivate" asp-route-auctionId="@Model.Id" method="post" class="swal-form">
                <input id="deactivateButton" type="submit" value="Деактиварай търга" class="btn btn-outline-danger" />
            </form>
        </div>
    </div>
}
else if (Model.IsOver.HasValue == false && Model.Bids.Any() == false && Model.IsDeleted == false)
{
    <div class="row mt-3 me-2 justify-content-center" id="userDeactivate">
        <div class="col-12">
            <form asp-area="" asp-controller="Auction" asp-action="Deactivate" asp-route-auctionId="@Model.Id" method="post" class="swal-form">
                <input id="deactivateButton" type="submit" value="Деактиварай търга" class="btn btn-danger" />
            </form>
        </div>
    </div>
}

@if ((Model.IsOver.HasValue == false || Model.IsOver is false) && this.User.IsAdmin() && Model.IsDeleted == false)
{
    <div class="row mt-3 me-2 justify-content-center" id="adminEdit">
        <div class="col-12">
            <a asp-area="" asp-controller="Auction" asp-action="Edit" asp-route-auctionId="@Model.Id" class="btn btn-outline-primary">Редактирай търга</a>
        </div>
    </div>
}
else if (Model.IsOver.HasValue == false && Model.IsDeleted == false)
{
    <div class="row mt-3 me-2 justify-content-center" id="userEdit">
        <div class="col-12">
            <a asp-area="" asp-controller="Auction" asp-action="Edit" asp-route-auctionId="@Model.Id" class="btn btn-outline-primary">Редактирай търга</a>
        </div>
    </div>
}