@model ChooseThumbnailFormModel

<input asp-for="@Model.Id" type="hidden" value="@Model.Id" />

<div class="row">
    @foreach (var image in Model.Images)
    {
        <div class="col-md-6 mb-3">
            <label class="d-block">
                <input type="radio" asp-for="@Model.ThumbnailId" value="@image.Id" class="mr-2" />
                <img class="img-fluid" src="@image.Url" alt="Снимката не беше заредена правилно..." />
            </label>
        </div>
    }
</div>

<div class="form-group">
    <button type="submit" class="btn btn-success">Изпрати</button>
</div>