@model IEnumerable<AllListingViewModel>

@{
    ViewData["Title"] = "Всички обяви";
}

<div class="container flex-row">
    @foreach (var listing in Model)
    {
        <div class="card">
            <div class="card-body">
                <p class="card-title text-center text-lg-center">@listing.Title</p>
                <img class="card-img justify-content-center" style="width: 250px" src="@listing.Thumbnail.Url"/>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="m-3">Описание: @listing.Description</li>
                        <li class="m-3">Година на производство: @listing.Year година</li>
                    </ul>
                </div>
                @*<form asp-controller="Listing" asp-action="" asp-route-id="@listing.FeatureId" method="post">
                    <input type="submit" class="btn btn-danger" value="Изтрий обявата" />
                </form>*@
                <form asp-controller="Listing" asp-action="Details" asp-route-listingId="@listing.Id">
                    <input type="submit" class="btn btn-info" value="Разгледай обявата" />
                </form>
            </div>
        </div>
    }
</div>