@model ListingFormModel

@{
    ViewData["Title"] = "Създаване на обява";
    var currentYear = DateTime.UtcNow.Year;
}

<h2 class="text-center">@ViewData["Title"]</h2>

<form id="createListingForm" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="@Model.Images">Качете снимки</label>
        <input asp-for="@Model.Images" type="file" name="Изберете" id="images" multiple>
        <span asp-validation-for="@Model.Images"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="@Model">Изберете снимка за началната страница</label>
        <select id="thumbnail" name="Главна снимка" class="form-control">
            <option value="">Изберете една от качените снимки</option>
            <!-- Populate options dynamically with uploaded images -->
        </select>
    </div>*@

    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" type="text" placeholder="Въведете заглавие" id="title" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <textarea asp-for="@Model.Description" placeholder="Въведете описание" id="description" class="form-control" required></textarea>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" value="" placeholder="Въведете цена" id="price" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Year"></label>
        <input asp-for="@Model.Year" type="number" placeholder="Година на производство" value="@currentYear" min="@ViewData["MinYear"]" max="@currentYear" id="year" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Mileage"></label>
        <input asp-for="@Model.Mileage" placeholder="Пробег в километри" value="" min="0" id="mileage" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EngineModel"></label>
        <input asp-for="@Model.EngineModel" type="text" placeholder="Въведете модел на двигател или само кубатура" id="engineModel" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EngineTypeId"></label>
        <select asp-for="@Model.EngineTypeId" id="engineTypes" class="form-control" required>
            <option value="">Изберете вид на двигателя</option>
            @foreach (var engineType in Model.EngineTypes)
            {
                <option value="@engineType.Id">@engineType.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.VinNumber"></label>
        <input asp-for="@Model.VinNumber" placeholder="Въведете VIN номер (пр. KNDPB3A21B7082471)" type="text" id="vinNumber" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="@Model.CarMakeId"></label>
        <select asp-for="@Model.CarMakeId" id="carMakes" class="form-control" required>
            <option value="">Изберете марка автомобил</option>
            @foreach (var carMake in Model.CarMakes)
            {
                <option value="@carMake.Id">@carMake.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.CarModelId"></label>
        <select asp-for="@Model.CarModelId" id="carModels" class="form-control" required disabled>
            <option value="">Изберете модел</option>
            <!-- Populate options dynamically based on selected Car Make -->
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.CityId"></label>
        <select asp-for="@Model.CityId" id="city" class="form-control" required>
            <option value="">Изберете град</option>
            @foreach (var city in Model.Cities)
            {
                <option value="@city.Id">@city.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.SelectedFeatures"></label>
        <div>
            @foreach (var category in Model.FeatureCategories)
            {
                <h4>@category.Name</h4>
                <div class="form-check">
                    @foreach (var feature in category.Features)
                    {
                        <label class="form-check-label"><input type="checkbox" value="@feature.Id">@feature.Name</label>
                    }
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Създай обява</button>
</form>

@section Scripts
{
    <script type="module" src="/js/loadCarModels.js"></script>

    <partial name="_ValidationScriptsPartial"/>
}