@model ListingDetailsViewModel

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = $"Обява - {Model.CarMakeName} {Model.CarModelName}";
}

<div class="container mt-4">

    @if (SignInManager.IsSignedIn(User) && string.Equals(Model.CreatorId, User.GetId()!, StringComparison.CurrentCultureIgnoreCase))
    {
        <div class="container d-flex mt-3 mb-1">
            @*<div class="row mt-3 justify-content-center">
                <div class="col-12">
                    <form asp-controller="Listing" asp-action="Deactivate" asp-route-listingId="@Model.Id">
                        <input type="submit" value="Деактиварай обявата" class="btn btn-danger" />
                    </form>
                </div>
            </div>*@

            <div class="row mt-3 justify-content-center ml-2">
                <div class="col-12">
                    <a asp-controller="Listing" asp-action="ChooseThumbnail" asp-route-listingId="@Model.Id" class="btn btn-outline-secondary text-black">Смени снимката на обложката</a>
                </div>
            </div>
        </div>
    }

    <div class="row mb-4">
        <div class="col-md-12">
            <h1 class="text-center">@Model.Title</h1>
            <p class="text-muted text-center">Качена от @Model.CreatorUserName на @Model.CreatedOn</p>
            <span class="small">Добавена @Model.FavoritesCount пъти в "Любими"</span>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        @foreach (var picture in Model.Images)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-img-url="@picture.Url">
                        <img class="card-img-top" src="@picture.Url" alt="Снимката не беше заредена правилно...">
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button id="prevBtn" class="btn btn-primary mb-4">Предишна</button>
                    <img id="modalImage" src="" class="img-fluid" />
                    <button id="nextBtn" class="btn btn-primary mt-4">Следваща</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-wrap">
        <p>Местоположение: @Model.City.Name</p>
        <p>Марка: @Model.CarMakeName</p>
        <p>Модел: @Model.CarModelName</p>
        <p>Модел двигател: @Model.EngineModel</p>
        <p>Описание: @Model.Description</p>
        <p>Цена: @Model.Price лв.</p>
    </div>

    <div class="mt-4">
        <label asp-for="@Model.ListingFeatures" class="modal-header"></label>

        @foreach (var category in Model.ListingFeatures)
        {
            <span>@category.Name</span>

            <ul>
                @foreach (var feature in category.Features)
                {
                    <li>
                        <p class="m-2">@feature.Name</p>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/imageViewer.js"></script>
}