@model ListingDetailsViewModel

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = $"Обява - {Model.CarMakeName} {Model.CarModelName}";

    string createdOnDateString = Model.CreatedOn.ToLocalTime().ToString("g");
    int featureIndex = 1;

    string modifiedOnDateString = string.Empty;
    if (Model.ModifiedOn != null && Model.ModifiedOn > Model.CreatedOn + TimeSpan.FromSeconds(10))
    {
        modifiedOnDateString = Model.ModifiedOn.Value.ToLocalTime().ToString("g");
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container d-flex align-items-center mt-3 mb-3">

        @if (string.Equals(Model.CreatorId, User.GetId()!, StringComparison.CurrentCultureIgnoreCase))
        {
            @if (Model.IsDeleted)
            {
                <div class="row mt-3 me-2 justify-content-center">
                    <div class="col-12">
                        <form asp-controller="Listing" asp-action="Reactivate" asp-route-listingId="@Model.Id" method="post">
                            <input type="submit" value="Активарай обявата" class="btn btn-success" />
                        </form>
                    </div>
                </div>

                <div class="row mt-3 me-2 justify-content-center">
                    <div class="col-12">
                        <form asp-controller="Listing" asp-action="Delete" asp-route-listingId="@Model.Id" method="post">
                            <input type="submit" value="Изтрий обявата" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="row mt-3 me-2 justify-content-center">
                    <div class="col-12">
                        <form asp-controller="Listing" asp-action="Deactivate" asp-route-listingId="@Model.Id" method="post">
                            <input id="deactivateButton" type="submit" value="Деактиварай обявата" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            }

            <div class="row mt-3 me-2 justify-content-center">
                <div class="col-12">
                    <a asp-controller="Listing" asp-action="Edit" asp-route-listingId="@Model.Id" class="btn btn-outline-primary">Редактирай обявата</a>
                </div>
            </div>

            <div class="row mt-3 justify-content-center ml-2">
                <div class="col-12">
                    <a asp-controller="Listing" asp-action="ChooseThumbnail" asp-route-listingId="@Model.Id" class="btn btn-outline-primary">Смени снимката на обложката</a>
                </div>
            </div>
        }
        else
        {
            <a asp-controller="Listing" asp-action="Favorites" id="favoriteButton" class="btn"><i id="heartIcon" class="far fa-heart"></i></a>
            
            <input type="hidden" id="listingId" value="@Model.Id"/>
            <input type="hidden" id="userId" value="@User.GetId()" />
        }
    </div>
}

<div class="container mt-4">

    <div class="row mb-4">
        <div class="col-md-12">
            <h1 class="text-center mb-4 mt-4">@Model.Title</h1>
            <p class="text-muted text-center">Качена от @Model.CreatorUserName на @createdOnDateString @(!string.IsNullOrWhiteSpace(modifiedOnDateString) ? $". Последно обновена на {modifiedOnDateString}" : string.Empty)</p>
            @if (Model.FavoritesCount == 1)
            {
                <span id="favoritesCounter" class="small">Добавена @Model.FavoritesCount път в "Любими"</span>
            }
            else
            {
                <span id="favoritesCounter" class="small">Добавена @Model.FavoritesCount пъти в "Любими"</span>
            }
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        @foreach (var picture in Model.Images)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-img-url="@picture.Url">
                        <img class="card-img-top" src="@picture.Url" alt="Снимката не беше заредена правилно...">
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body d-flex flex-column align-items-center">
                    <button id="prevBtn" class="btn btn-primary mb-4 w-25">Предишна</button>
                    <img id="modalImage" src="" class="img-fluid m-auto" />
                    <button id="nextBtn" class="btn btn-primary mt-4 w-25">Следваща</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-wrap">
        <p class="fs-6">Населено място: @Model.City.Name</p>
        <p class="fs-6">Марка: @Model.CarMakeName</p>
        <p class="fs-6">Модел: @Model.CarModelName</p>
        <p class="fs-6">Модел двигател: @Model.EngineModel</p>
        <p class="fs-6">Пробег: @Model.Mileage km</p>
        <p class="fs-6">Описание: @Model.Description</p>
        <p class="fs-5">VIN номер: @Model.VinNumber</p>
        <p class="mt-5 fs-4">Цена: @Model.Price лв.</p>
    </div>

    <div class="mt-4">
        <label asp-for="@Model.ListingFeatures" class="modal-header mt-2 fw-bold fs-4"></label>

        <div class="container d-flex flex-column">
            @foreach (var category in Model.ListingFeatures)
            {
                <div class="mt-2">
                    <span class="fs-5">@category.Name:</span>
                </div>

                <ul class="mt-4 d-flex flex-column">
                    @foreach (var feature in category.Features)
                    {
                        <li class="me-4 list-unstyled">
                            <p class="m-2">@(featureIndex++). @feature.Name</p>
                        </li>
                    }
                    @{
                        featureIndex = 1;
                    }
                </ul>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/listingsFavoriter.js"></script>

    <script type="text/javascript" src="~/js/imageViewer.js"></script>
}