@model AuctionDetailsViewModel

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = $"Търг - {Model.CarMakeName} {Model.CarModelName}";

    string createdOnDateString = $"{Model.CreatedOn.ToLocalTime():g} ч.";
    int featureIndex = 1;

    string modifiedOnDateString = string.Empty;
    if (Model.ModifiedOn != null && Model.ModifiedOn > Model.CreatedOn + TimeSpan.FromSeconds(10))
    {
        modifiedOnDateString = $"{Model.ModifiedOn.Value.ToLocalTime():g} ч.";
    }

    bool userIsAdmin = this.User.IsAdmin();
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container d-flex align-items-center mt-3 mb-3" id="auctionButtonsContainer">
        @if (string.Equals(Model.CreatorId, User.GetId()!, StringComparison.CurrentCultureIgnoreCase) || userIsAdmin)
        {
            if (userIsAdmin)
            {
                <partial name="_AuctionControlsPartial" />
            }
            else
            {
                if (Model.IsOver.HasValue == false || Model.IsOver is true)
                {
                    <section class="d-flex" id="auctionControls">
                        <partial name="_AuctionControlsPartial" model="@Model" />
                    </section>
                }
                else
                {
                    <section class="d-flex visually-hidden" id="auctionControls">
                        <partial name="_AuctionControlsPartial" model="@Model" />
                    </section>
                }
            }

            <div class="row mt-3 justify-content-center ml-2">
                <div class="col-12">
                    <a asp-controller="Auction" asp-action="ChooseThumbnail" asp-route-auctionId="@Model.Id" class="btn btn-outline-primary me-3">Смени снимката на обложката</a>
                </div>
            </div>
        }
        @if (!string.Equals(Model.CreatorId, User.GetId()!, StringComparison.CurrentCultureIgnoreCase))
        {
            <div class="row mt-3 justify-content-center ml-2">
                <div class="col-12">
                    <a asp-controller="Auction" asp-action="Favorites" id="favoriteButton" class="btn"><i id="heartIcon" class="far fa-heart"></i></a>
                </div>
            </div>
        }
    </div>
    <input type="hidden" id="userId" value="@User.GetId()" />
}
<input type="hidden" id="auctionId" value="@Model.Id" />

<div class="container mt-4">

    <div class="row mb-4">
        <div class="col-md-12">
            <h1 class="text-center mb-4 mt-4">@Model.Title</h1>
            <p class="text-muted text-center">Създаден от @Model.CreatorFullName (@Model.CreatorUserName) на @createdOnDateString @(!string.IsNullOrWhiteSpace(modifiedOnDateString) ? $" Последно обновен на {modifiedOnDateString}" : string.Empty)</p>
            @if (Model.FavoritesCount == 1)
            {
                <span id="favoritesCounter" class="small">Добавен @Model.FavoritesCount път в "Любими"</span>
            }
            else
            {
                <span id="favoritesCounter" class="small">Добавен @Model.FavoritesCount пъти в "Любими"</span>
            }
        </div>
    </div>

    <div class="d-flex flex-column mt-3 mb-3" id="auctionInfoContainer">
        @if (Model.IsOver is true)
        {
            //Here I am displaying the auction winner
            <div class="text-center mb-3" id="winnerInfoContainer">
                @if (string.IsNullOrWhiteSpace(Model.CurrentWinnerFullNameAndUserName) || Model.CurrentHighestBid <= 0)
                {
                    <h3 class="text-danger">Край на търга. Няма победител.</h3>
                }
                else
                {
                    <h3>Търгът е спечелен от @Model.CurrentWinnerFullNameAndUserName за @Model.CurrentHighestBid.ToString("f2") лв.</h3>
                }
            </div>
        }
        else
        {
            //Timer indicating the time left to the start or end
            <div class="mb-3" id="timerContainer">
                <section id="timer" aria-live="polite">
                    <div class="fs-4">
                        @if (Model.IsOver.HasValue == false)
                        {
                            <p id="timerText">Начало след:</p>
                            <input type="hidden" id="time" value="@Model.StartTime" />
                        }
                        else
                        {
                            <p id="timerText">Край след:</p>
                            <input type="hidden" id="time" value="@Model.EndTime" />
                        }
                    </div>
                    <div class="timer-container">
                        <span id="days" role="timer">0 дни</span>
                        <span id="hours" role="timer">0 часа</span>
                        <span id="minutes" role="timer">0 минути</span>
                        и
                        <span id="seconds" role="timer">0 секунди</span>
                    </div>
                </section>
            </div>
        }
    </div>

    <div class="row mt-3 justify-content-center">
        @foreach (var picture in Model.Images)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-img-url="@picture.Url">
                        <img class="card-img-top" src="@picture.Url" alt="Снимката не беше заредена правилно...">
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body d-flex flex-column align-items-center">
                    <button id="prevBtn" class="btn btn-primary mb-4 w-25">Предишна</button>
                    <img id="modalImage" src="" class="img-fluid m-auto" />
                    <button id="nextBtn" class="btn btn-primary mt-4 w-25">Следваща</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex mt-5 mb-5 flex-column w-100 h-25">

        <div class="d-flex flex-column text-center">
            <p class="mt-3 mb-3 fs-4">Начална цена: @Model.StartingPrice.ToString("f2") лв.</p>
            <p class="mt-3 mb-3 fs-4">Минимална стъпка: @Model.MinimumBid.ToString("f2") лв.</p>
            @if (Model.BlitzPrice.HasValue)
            {
                <p class="mt-1 mb-4 fw-bold">Този търг ИМА Блиц цена!</p>
            }
            else
            {
                <p class="mt-1 mb-4 fw-bold">Този търг НЯМА Блиц цена!</p>
            }
        </div>

        <label class="fs-5" asp-for="@Model.Bids"></label>

        <div class="d-flex flex-column w-100 overflow-auto mt-3" style="max-height: 50vh;" id="bids">
            @if (Model.Bids.Any() == false)
            {
                if (Model.IsOver is false)
                {
                    <div class="card mb-2 p-2">
                        <span class="card-header">Търгът вече е активен! Нека наддаването започне!</span>
                        <p class="card-text fw-bold">- Успех на всички участници!</p>
                    </div>
                }
            }
            else
            {
                @foreach (var bid in Model.Bids)
                {
                    <div class="card mb-2 p-2">
                        <span class="card-header">@bid.CreatedOn:</span>
                        <p class="card-text fw-bold">- @bid.BidderFullName (@bid.BidderUserName) предлага @bid.Amount лв.</p>
                    </div>
                }
            }

            @if (Model.IsOver.HasValue == false)
            {
                <div class="card mb-2 p-2">
                    <span class="card-header">Търгът ще започне в/ъв @Model.StartTime.ToString("f")</span>
                    <p class="card-text fw-bold">- Успех на всички участници!</p>
                </div>
            }
            else if (Model.IsOver is true)
            {
                if (string.IsNullOrWhiteSpace(Model.CurrentHighestBidTimeOfCreate) || string.IsNullOrWhiteSpace(Model.CurrentWinnerFullNameAndUserName) || Model.CurrentHighestBid <= 0)
                {
                    <div class="card mb-2 p-2 text-danger">
                        <span class="card-header">Търгът приключи без наддавания:</span>
                        <p class="card-text fw-bold">- Няма победител.</p>
                    </div>
                }
                else
                {
                    <div class="card mb-2 p-2 text-danger">
                        <span class="card-header">Край на търга! Последно наддаване в @Model.CurrentHighestBidTimeOfCreate:</span>
                        <p class="card-text fw-bold">- Победител: @Model.CurrentWinnerFullNameAndUserName с цена от @Model.CurrentHighestBid.ToString("f2") лв.</p>
                    </div>
                }
            }
        </div>

        <div class="w-50" id="bidFormContainer">
            @if (SignInManager.IsSignedIn(User) &&
            !string.Equals(Model.CreatorId, User.GetId()!, StringComparison.CurrentCultureIgnoreCase)
            && Model.IsOver is false)
            {
                <form id="bidForm" method="post">
                    <div class="form-group mb-2">
                        <label for="bidAmount" class="mb-2">Сума на наддаване</label>
                        <input type="number" class="form-control" id="bidAmount" name="bidAmount" placeholder="Направете своето наддаване" min="@Model.CurrentHighestBid" step="@Model.MinimumBid" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Потвърди</button>
                </form>
            }
        </div>
    </div>

    <div class="text-wrap mb-3">
        <p class="fs-6">Населено място: @Model.City.Name</p>
        <p class="fs-6">Марка: @Model.CarMakeName</p>
        <p class="fs-6">Модел: @Model.CarModelName</p>
        <p class="fs-6">Година: @Model.Year г.</p>
        <p class="fs-6">Модел двигател: @Model.EngineModel</p>
        <p class="fs-6">Пробег: @Model.Mileage km</p>
        <p class="fs-6">Описание: @Model.Description</p>
        <p class="fs-5">VIN номер: @Model.VinNumber</p>

        <div class="mt-5 fs-4 d-flex flex-column">
            <p class="fs-5 mb-3">Контакти:</p>
            <a class="btn btn-primary w-25" href="tel:@Model.PhoneNumber">Oбадете се на: @Model.PhoneNumber</a>
        </div>
    </div>

    @if (Model.AuctionFeatures.Any())
    {
        <div>
            <label asp-for="@Model.AuctionFeatures" class="modal-header mt-2 fw-bold fs-5"></label>

            <div class="container d-flex">
                @foreach (var category in Model.AuctionFeatures)
                {
                    <div class="mt-2">
                        <span class="fs-5">@category.Name:</span>
                    </div>

                    <ul class="mt-4 fs-6 d-flex flex-column">
                        @foreach (var feature in category.Features)
                        {
                            <li class="me-4 list-unstyled">
                                <p class="m-2">@(featureIndex++). @feature.Name</p>
                            </li>
                        }
                        @{
                            featureIndex = 1;
                        }
                    </ul>
                }
            </div>
        </div>
    }

</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <link rel="stylesheet" href="~/css/auctionDetailsTimer.css" />
    <script type="module" src="~/js/auctionsBidder.js"></script>
    <script type="module" src="~/js/auctionsFavoriter.js"></script>

    <script type="text/javascript" src="~/js/imageViewer.js"></script>
}