@model AuctionEditFormModel

@{
    ViewData["Title"] = "Редактиране на търг";
}

<h1 class="text-center mt-3 mb-3">@ViewData["Title"]</h1>

<a asp-controller="Auction" asp-action="Edit" asp-route-auctionId="@Model.Id" id="undo-btn" class="btn btn-sm btn-outline-danger text-black mt-4 mb-2">Върни промените</a>

<div class="image-grid mb-2">
    @foreach (var image in Model.UploadedImages)
    {
        <div class="image-container">
            <img src="@image.Url" alt="Image">
            <button class="delete-button" id="@image.Id">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    }
</div>

<div id="carouselContainer" class="d-flex flex-column text-center justify-content-center align-items-center mt-5 visually-hidden">
    <h3 class="text-center mb-4">Нови снимки</h3>
    <div id="carouselExampleControls" class="carousel slide w-50" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!--Images are loaded dynamically with JS-->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <button type="button" id="clearImages" class="btn btn-danger mt-3 visually-hidden">Изтрий новите снимки</button>
</div>

<form asp-controller="Auction" asp-action="Edit" id="editAuctionForm" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="@Model.Id" id="auctionId" />

    <partial name="_AuctionFormPartial" model="@Model" />

    <button type="submit" class="btn btn-primary">Редактирай търг</button>
</form>

@section Scripts
{
    <link rel="stylesheet" href="~/css/imageGrid.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/bg.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/datesPickerSettings.js"></script>
    <script type="module" src="~/js/loadCarModels.js"></script>
    <script type="module" src="~/js/editAuctionImages.js"></script>
    <script type="text/javascript" src="~/js/previewUploadedImages.js"></script>
}